@import '../../styles/mixins';

.scener-status-badge {
  @include flex-center(var(--space-1));
  display: inline-flex;
  height: 24px;
  padding: 0 var(--space-3);
  border-radius: var(--radius-full);
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-medium);
  background-color: var(--color-bg-elevated-2);

  &__dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    flex-shrink: 0;
  }

  &--ongoing {
    color: var(--color-status-ongoing);

    .scener-status-badge__dot {
      background-color: var(--color-status-ongoing);
    }
  }

  &--upcoming {
    color: var(--color-status-upcoming);

    .scener-status-badge__dot {
      background-color: var(--color-status-upcoming);
    }
  }

  &--ended {
    color: var(--color-status-ended);

    .scener-status-badge__dot {
      background-color: var(--color-status-ended);
    }
  }
}
