@import './primitives';
@import './semantic';
@import './mixins';
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--scener-color-background-base);
  color: var(--scener-color-text-primary);
  font-family: var(--scener-font-family-base);
  -webkit-font-smoothing: antialiased;
}

button {
  font-family: inherit;
}
