.scener-docs-page {
  h2 {
    margin-top: 48px !important;
    padding-top: 20px !important;
  }
  p {
    font-size: 16px;
  }
}

html[data-theme='dark'] {
  .docs-story {
    background-color: #1c1c1c;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  color: var(--scener-color-text-primary);
  font-family: var(--scener-font-family-base);
  -webkit-font-smoothing: antialiased;
}

button {
  font-family: inherit;
}
